<div class = "row" id="dashinfo">
<div class = "col-xs-12 col-sm-12 col-lg-7 col-xl-7" id="profilepart">
<h3>My Profile</h3>
<%= image_tag avatar_url(current_user), id:"profpic" %> <br/><br/>
<p>NAME: <%= current_user.name %> <br/></p>

<p>CONTACT NO: <%= current_user.contact %> <br/></p>

<p>ADDRESS: 
<% if current_user.location == "" %>
 <p>*Please update your profile to add your address for delivery!</p>
  <%= link_to "UPDATE MY PROFILE", edit_user_registration_path %>
<% else %> 
   <%= current_user.location %> <br/>
<% end %>
</p>
<br/>
<h3>Set delivery schedule</h3>
<input id="delidates" class="delidatesinput">

<br/><br/>

</div>

<div class = "col-xs-12 col-sm-12 col-lg-4 col-xl-4">
<h3>Nearby Taho Sellers</h3>
<% if @user.nearbys.exists? %>
<% mymap = "http://maps.google.com/maps/api/staticmap?size=360x360&sensor=false&zoom=14&markers=color:red|#{@user.latitude}%2C#{@user.longitude}&markers=color:green" %>
    <% for user in @user.nearbys(10) %>
        <% if user.role == "seller" %>
          <% mymap += "|#{user.latitude}%2C#{user.longitude}" %> 
          <ul>
            <li><%= user.name %>, <%= user.distance.round(2) %>km away from your location <br/></li>
          </ul>
        <% end %>
    <% end %>
    
  <% else %>
      <p>No taho sellers in your area! :-( </p>
  <% end %>

<br/>
<%= image_tag(mymap) %>
<br/>


</div>

</div>
  

<script>

$(document).ready(function () {
$('#delidates').multiDatesPicker({
  maxPicks: 7,
	minDate: 2,
	maxDate: 16
    });
});

</script>